aiohttp==3.7.4
antlr4-python3-runtime==4.8
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1633972181832/work/dist
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094676799/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1633990745566/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1625835561163/work
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.1
configparser==5.0.2
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1633983348156/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1627074992779/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docker-pycreds==0.4.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.24
huggingface-hub==0.0.17
hydra-core==1.1.1
idna==3.2
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1630267509190/work
importlib-resources==5.2.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1631291130928/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1632764055494/work
ipython-genutils==0.2.0
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1610146833874/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1633656206378/work
joblib==1.0.1
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1633875207482/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1631852743958/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1633398189934/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1633634490182/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1632590716858/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455730621/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1624941333556/work
multidict==5.2.0
mypy==0.910
mypy-extensions==0.4.3
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1631880505492/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1629120697898/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1632536035327/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1631733685426/work
numpy==1.21.2
omegaconf==2.1.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1617148930513/work
pathtools==0.1.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1622586138406/work
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1629903925368/work
protobuf==3.18.0
psutil==5.8.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==2.4.7
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1624984585468/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==5.4
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1631793589817/work
regex==2021.8.28
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-unixsocket==0.2.0
sacremoses==0.0.45
scipy==1.7.1
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentry-sdk==1.4.3
shortuuid==1.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==4.0.0
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1610318396434/work
subprocess32==3.5.4
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1631128524766/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
tokenizers==0.10.3
toml==0.10.2
torch==1.10.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1625489059091/work
tqdm==4.62.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1630423529112/work
transformers==4.11.2
typing-extensions==3.10.0.2
urllib3==1.26.6
wandb==0.12.6
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///Users/runner/miniforge3/conda-bld/websocket-client_1610127684558/work
yarl==1.7.2
yaspin==2.1.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
